<ion-view title="My Sky">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-toggle toggle-class="toggle-positive">Toggle</ion-toggle>
            <ion-radio>Enable</ion-radio>
            <ion-radio>Enable</ion-radio>
            <ion-item class="range range-positive">Range
                <input type="range" value="50" min="0" max="100">
            </ion-item>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>